ffmpeg_path = 'ffmpeg'
ffprobe_path = 'ffprobe'
dee_path = 'dee.exe'
temp_path = ''
# empty: next to the script
# relative path: from your current directory
# You can also use fullpath too.
# In any case the folder will be created automatically if it doesn't exist already.
wsl = false # Set this to true if you run the script in Linux but use the Windows version of DEE.
logo = 1 # Set between 1 and 10, use the -pl/--printlogos option to see the available logos, set to 0 to disable logo.
show_summary = true
threads = 6 # You can overwrite this with -t/--threads. The threads number will be clamped between 1 and cpu_count() - 2.
