name: Build and publish

on:
  push:
    tags:
      - "*"

jobs:
  linux-build:
    name: Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Set up libraries
        run: |
          python -m pip install wheel pyinstaller
          python -m pip install .

      - name: Build
        run: |
          pyinstaller -F __main__.py -n deew --icon logo/icon.ico

      - name: Create changelog file
        run: |
          python -c "print('\n'.join(open('changelog.md', 'r').read().split('\n\n# deew')[0].split('\n')[1:]))" >> changelog.txt

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body_path: changelog.txt
          draft: false
          prerelease: false

      - name: Upload release to GitHub
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/deew
          asset_name: deew_linux
          asset_content_type: application/zip

  windows-build:
    name: Windows
    runs-on: windows-latest
    needs: linux-build

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Set up libraries
        run: |
          python -m pip install wheel poetry
          python -m pip install "https://yt-dlp.github.io/Pyinstaller-Builds/x86_64/pyinstaller-5.2-py3-none-any.whl"
          python -m pip install .

      - name: Build
        run: |
          pyinstaller -F __main__.py -n deew --icon logo/icon.ico

      - name: Get latest release info
        id: latest_release_info
        uses: jossef/action-latest-release-info@v1.1.0
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload release to GitHub
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.latest_release_info.outputs.upload_url }}
          asset_path: dist/deew.exe
          asset_name: deew.exe
          asset_content_type: application/zip

      - name: Upload release to PyPI
        run: |
          poetry build
          poetry publish -u __token__ -p '${{ secrets.PYPI_TOKEN }}'

      - name: Send Telegram notifications
        continue-on-error: true
        run: |
          python dev_scripts/telegram/telegram.py "${{ secrets.TG_TOKEN }}" "${{ secrets.TG_CH1 }}" "${{ steps.latest_release_info.outputs.tag_name }}"
          python dev_scripts/telegram/telegram.py "${{ secrets.TG_TOKEN }}" "${{ secrets.TG_CH2 }}" "${{ steps.latest_release_info.outputs.tag_name }}"

      - name: Post changelog and update OP on Doom9
        continue-on-error: true
        run: |
          python dev_scripts/doom9/doom9.py "${{ secrets.DOOM9_PASSWORD }}"

      # - name: Post changelog and update OP on H**
      #   continue-on-error: true
      #   run: |
      #     python -m pip install pyotp
      #     python dev_scripts/h/h.py "${{ secrets.H_URL }}" "${{ secrets.H_PASSWORD }}" "${{ secrets.H_TOTP }}"

      # - name: Post changelog and update OP on P**
      #   continue-on-error: true
      #   run: |
      #     python dev_scripts/p/p.py "${{ secrets.P_URL }}" "${{ secrets.P_PASSWORD }}"

      # - name: Post changelog and update OP on B**
      #   continue-on-error: true
      #   run: |
      #     python dev_scripts/b/b.py "${{ secrets.B_URL }}" "${{ secrets.B_PASSWORD }}"

      - name: Post changelog and update OP on B**
        run: |
          python -c "print('Workflow finished')"
